
.button {
	display: inline-block;
	position: relative;

	/* Has it's own stacking context, to prevent icons and masked inputs
	   overflowing stacks outside the button */
	z-index: 0;

	width: auto;
	height: auto;
	/* button elements ignore line-height, centering text automaticaly. */
	line-height: 1.5rem;
	padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;
	padding-left: 0.5625rem;
	padding-right: 0.5625rem;
	vertical-align: baseline;

	text-overflow: ellipsis;
	text-align: center;
	text-decoration: none;
	/* Overrides default browser style on input type=submit (white-space: pre) */
	white-space: normal;

	font-size: 0.9375rem;
	font-family: Arial, Helvetica, sans-serif;

	min-width: 7.5rem;

	background-color: green;
	background-image: linear-gradient(to bottom, #f3f3f3, #d1d1d1);
	border: 1px solid #999999;
	border-radius: 0.25rem;
	text-shadow: 0 1px white, 0 -1px #aaaaaa;
	color: #444444;
}

.button:focus {
	outline: none;
	box-shadow:
		inset 0 0 3px #2391de,
		0 0 3px #2391de;
	border-color: #2391de;
	text-decoration: none;
}

.button:hover {
	background-image: linear-gradient(to bottom, #fafafa, #e2e2e2);
	text-decoration: none;
}

.tab-button {
	max-width: 7.5rem;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom: 0;
	text-align: left;
}

.tab-button:focus {
	outline: none;
	box-shadow:
		inset 0 0 3px #2391de,
		0 0 3px #2391de;
	border-color: #2391de;
	text-decoration: none;
	z-index: 4;
}

.tab-button.on {
	text-shadow: none;
	background-image: linear-gradient(to bottom, #f3f3f3, #ffffff);
	margin-bottom: -1px;
	border-bottom: 1px solid white;
}

.tab-button + .tab-button {
	margin-left: -1px;
}
